@import "~@angular/material/theming";
table {
  margin: auto;

  width: 80%;
  @include mat-elevation(0)
}
.full-width-table {
  width: 80%;
  margin: auto;
  @include mat-elevation(0)
}
mat-paginator{
  width: 80%;
  margin: auto;
  @include mat-elevation(0)
}


.mat-form-field {
  font-size: 14px;
  width: 80%;
  margin-left: 9%;
}
.spacer {
  flex: 1 auto;
}

.mat-elevation-z8 {
  width: 80%;
  margin: auto;
}
