<h1>{{this.data_pts.puntos}}</h1>
<div class="circle">
  <div id="stopwatch" class="stopwatch">{{this.timeLeft}}</div>
  <div class="buttons">
  </div>
</div>
<div id="seconds-sphere" class="seconds-sphere"></div>
<div class="options box" *ngIf="estado == 1">
  <div class="question">{{this.pregunta_actual.name}}</div>
  <div *ngFor="let item of respuesta; let i = index">
    <label (click)="validarRes(item)" for="a-4-c">{{item['name']}}</label>
  </div>
  <a (click)="cargarRespuestasByNiveles(1,true)">Confirm Answer</a>
</div>

<div class="box" id="welcome" *ngIf="estado == 0">
  <h2>Just Learn</h2>
  <p>Bienvenido a Just Learn aqui podras reforzar tu mente</p>
  <a (click)="cargarRespuestasByNiveles(0, false)">Start Game</a>
</div>
