

<div class="signin">
  <div class="back-img">
    <div class="sign-in-text">
      <h2 class="active">Sign In</h2>
      <h2 class="nonactive">Sign Up</h2>
    </div><!--/.sign-in-text-->
    <div class="layer">
    </div><!--/.layer-->
    <p class="point">&#9650;</p>
  </div><!--/.back-img-->
  <div class="form-section">

    <form action="#">
      <!--Email-->
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <div class="example-container">
          <mat-form-field appearance="fill">
            <mat-label>Enter your Name</mat-label>
            <input matInput placeholder="pat@example.com">
          </mat-form-field>
        </div>
      </div>
      <br/>
      <br/>
      <!--Password-->
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <div class="example-container">
          <mat-form-field appearance="fill">
            <mat-label>Enter your Name</mat-label>
            <input matInput placeholder="pat@example.com">
          </mat-form-field>
        </div>
      </div>
      <br/>
      <p class="forgot-text">Forgot Password ?</p>
    </form>
  </div>
  <button>
   Log In
  </button>
  <button (click)="openDialog()" >
    Sign In
  </button><!--/button-->
</div><!--/.signin-->


