<div class="signin">
  <div class="back-img">
    <div class="sign-in-text">
      <h2 class="active">Sign In</h2>
      <h2 class="nonactive">Sign Up</h2>
    </div>
    <div class="layer">
    </div>
    <p class="point">&#9650;</p>
  </div>
  <div class="form-section">

    <form name="fb_doctor" [formGroup]="fb_doctor">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <div class="example-container">
          <mat-form-field appearance="fill">
            <mat-label>Enter your Name</mat-label>
            <input formControlName="userName" matInput placeholder="pat@example.com">
          </mat-form-field>
        </div>
      </div>
      <br/>
      <br/>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <div class="example-container">
          <mat-form-field appearance="fill">
            <mat-label>Enter your Name</mat-label>
            <input type="password" formControlName="password" matInput placeholder="pat@example.com">
          </mat-form-field>
        </div>
      </div>
      <br/>
    </form>
  </div>
  <button style="margin-left: 18%; width: 300px" (click)="login()" mat-raised-button color="primary">Log In</button>
</div>
